<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497731277047-hrsk478e4l0fluqm9s57gp5m7oce0797.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497731277047-hrsk478e4l0fluqm9s57gp5m7oce0797</string>
	<key>API_KEY</key>
	<string>AIzaSyByB3PtgiKpegziSH9KYCDbcE9QqBzF2wA</string>
	<key>GCM_SENDER_ID</key>
	<string>497731277047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iankin.neekle</string>
	<key>PROJECT_ID</key>
	<string>neekle</string>
	<key>STORAGE_BUCKET</key>
	<string>neekle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497731277047:ios:1d6a9f1d08014abb8fc3f2</string>
</dict>
</plist>